@define-color selected-text #42A26A;
@define-color text #d4be98;
@define-color base #282828;
@define-color border #42A26A;
@define-color foreground #d4be98;
@define-color background #282828;

.box-wrapper {
  background: alpha(@base, 0.95);
  padding: 20px;
  border: 2px solid @border;
  border-radius: 32px;
}
